@charset "utf-8";
/*
	Author		CrystalCommerce.com // Ross Dallaire

	Colors
*/

/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
}
/* /END RESET */
body {
	background: whitesmoke url("img/bodyBg_repeatX.gif") top repeat-x;
	font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 100%;
}

p {
	line-height: 150%;
	margin: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2.25rem;
	margin: 0 0 15px;
	font-weight: normal;
}

h2 {
	font-size: 1.62671rem;
	margin: 0 0 12px;
	font-weight: normal;
}

h3 {
	font-size: 1.38316rem;
	margin: 0 0 12px;
	font-weight: normal;
}


h4, h5, h6 {
	margin: 5px 0 5px;
	font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {}

a img {
	border: none;
	outline: none;
}

a {
	color: #363636;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #999;
}

/* remove dotted lines on some links in FF browser */

a,
a:active,
a:visited,
a img {
	outline: none;
}

/* / */

/* CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
/* /END CLEARFIX */

/*
=====================================================
	Layout & Framework
===================================================== */



/*
=====================================================
	Dynamic Displays
===================================================== */
/* :root {
  --grid-size: 50;
  --color-50: #defdf9;
  --color-100: #bbf1ec;
  --color-200: #96e6de;
  --color-300: #6edad0;
  --color-400: #49cfc3;
  --color-500: #30b6aa;
  --color-600: #208e84;
  --color-700: #10665e;
  --color-800: #003e39;
  --color-900: #001715;


} */


:root {
  --color-50: #edf1fc;
  --color-100: #cfd5e3;
  --color-200: #b0bacd;
  --color-300: #919eb9;
  --color-400: #7282a5;
  --color-500: #58698b;
  --color-600: #44526d;
  --color-700: #303a4e;
  --color-800: #1c2330;
  --color-900: #050c15;

  /* CSS HSL */
--dark-purple: hsla(331, 28%, 16%, 1);
--medium-turquoise: hsla(176, 56%, 55%, 1);
--blue-violet-crayola: hsla(257, 46%, 59%, 1);
--naples-yellow: hsla(50, 100%, 71%, 1);
--atomic-tangerine: hsla(19, 90%, 70%, 1);

--brown-coffee: #4A2C2A;
--metallic-bronze: #9F6841;
--burlywood: #e0bb82;
--satin-sheen-gold: #d2a146;
--metallic-orange: #DA680F;

--background-color: var(--color-50);
--card-color: var(--burlywood);
--border-color: var(--metallic-bronze);
--highlight-color: var(--metallic-orange);
--accent-color: var(--satin-sheen-gold);

--box-shadow:  rgba(196, 166, 166, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}

 /* The Modal (background) */
.modal {
  /* Hidden by default */
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  border-radius: 6px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 6px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 666px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#title{
  margin: 1rem;
  width: auto;
  height: auto;
}
  main{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  padding: 1rem;
  /* margin: 1rem; */


}

/* Form styles */
fieldset{
  display: flex;
  flex-direction: column;
}

label{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;

}

button{
  font-size: 2rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  min-width: 42px;
  min-height: 42px;
  /* margin: 1rem; */
  /* aspect-ratio: 1; */
  padding: 0.25rem;
  margin: 0.75rem;
  background: #d2a146;
  color: var(--brown-coffee);
  transition: all 0.3s;
  border: 0.125rem solid var(--border-color);
  box-shadow: var(--box-shadow);
  opacity: 1;
}
button:hover, :focus{
  opacity: 0.8;
  border-color: var(--highlight-color);
  padding: .5rem;
  margin: .5rem;
  /* color: yellow; */
}

button:active{
  opacity: 0.5;
  border : 0.25rem solid blue;
  /* color: var(--color-500); */

}


#container{
  /* background: var(--color-500); */
  /* border: 0.25rem solid var(--color-900); */
  border-radius: 0.375rem;
  max-width: 1200px;
  min-width: 225px;
  /* min-height: 100%; */
  width: 80vw;
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: start;
  /* display: grid; */
  /* gap: 0.5rem; */
  /* justify-content: center; */
  /* align-content: center; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(6, 1fr); */
  /* grid-auto-columns: 1fr; */
  /* grid-auto-rows: 1fr; */
  /* grid-template-areas:
    'display display display display'
    'allClear plusMinus remainder divide'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero zero decimal equal'; */

}

#container > * {
  margin: 1rem .5rem;
}

.cardWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 225px;
  padding: 1rem;
}

#addBookButton {
  display: flex;
  justify-content: center;
  padding: 0;
  height: 100px;
  width: 100px;
  font-size: 75px;
  transition: all 0.3s;
}

#addBookButton:hover{
  height: 200px;
  width: 200px;
  font-size: 150px;
}

  #addBookButton:focus{
  height: 200px;
  width: 200px;
  font-size: 150px;
}

.bookCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-color);
  border: 2px solid var(--border-color);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  height: 300px;
  width: 225px;
  padding: 1rem;
}

.haveRead{
  border-color: green;
}
.haveNotRead{
  border-color: red;
}

/* #addBookButton { */
  /* position: fixed; Stay in place */
  /* z-index: 1; Sit on top */
  /* right: 2rem; */
  /* bottom: 2rem; */
/* } */










